<% layout('layouts/boilerplate') %>
<h1>Create Post</h1>
<form action="/admin" method="post">
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" class="wider-input"><br>
  <label for="content">Content:</label><br>
  <textarea id="content" name="content" rows="10" cols="30" class="wider-input"></textarea><br>
  <button class="btn btn-info">Create Post</button>
</form>