<% layout('layouts/boilerplate')%>
<div class="container justify-content-center align-items-center mb-3">
  <div class="row">
    <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <div class="card shadow">
        <!-- <img src="https://res.cloudinary.com/dunbqpis8/image/upload/v1675987931/Flashy/flashycard_ql7fyz.png" alt="colorful flashy card logo" class="card-img-top"> -->
        <div class="card-body">
          <h5 class="card-title">Invite a new user</h5>
          <form action="/users/superadmin/invite" method="POST">
            <!-- May want to add this back in with validation in place - 'class="validated-form" novalidate' -->
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                required
              />
              <!-- <div class="valid-feedback">
                                Looks good!
                            </div> -->
            </div>
            <div class="mb-3">
              <label class="form-label" for="role">Role</label>
              <select
                class="form-select"
                id="role"
                name="role"
                required
                aria-label="Select a role"
              >
                <option selected>Select a role</option>
                <option value="author">Author</option>
                <option value="editor">Editor</option>
                <option value="superadmin">Superadmin</option>
              </select>
            </div>

            <div class="d-grid gap-2 col-12 mx-auto">
              <button class="btn btn-success">Invite New User</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
